<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Links.Content.Site_css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
            <div id="debug"></div>
        </section>
        <footer>
        </footer>
    </div>
    @*<script type="text/javascript" data-main="@Links.Scripts.application_js"  src="@Links.Scripts.require_js"></script>*@
    <script type="text/javascript">
        (function (tag) {
            'use strict';
            var a = document.createElement(tag),
                b = document.getElementsByTagName(tag)[0];
            a.setAttribute('data-main', '@Links.Scripts.application_min_js');
            a.type = 'text/javascript';
            a.async = true;
            a.src = '@Links.Scripts.require_js';
            b.parentNode.insertBefore(a, b);
        }('script'));
    </script>
</body>
</html>
